/*---------- HEADER ----------*/
a {
	text-decoration: none;
	color: rgb(83, 88, 95);
}
header {
	padding: 30px 0;
}
nav ul {
	list-style-type: none;
	padding: 30px 0;
}
nav li {
	display: inline;
	padding: 0 50px;
}
section {
	background-repeat: repeat;
}
h2 {
	text-align: center;
	font-family: Latolight;
}
/*---------- SECCION CONTACTANOS ----------*/
#contactanos {
	padding: 70px 150px;
	background-image: url("../img/shoes_!.jpg");
	background-size: 62%;
	background-repeat: no-repeat;
	background-position: right;
}
.contc {
	font-size: 34px;
	padding-bottom: 40px;
	text-align: left;
}
fieldset {
	width: 80%;
	padding: 2px;
}
input {
	width: 90%;
	padding: 5px;
	/*margin-bottom: 15px;*/
	background: transparent;
	border: transparent;
}
::-webkit-input-placeholder {
	/*padding-left: 0px 30px;*/
	font-size: 15px;
}
form img {
	width: 30px;
	vertical-align: middle;
}
.mensaje {
	vertical-align: top;
}
#mensaje {
	width: 90%;
	height: 130px;
	border: transparent;
}
.enviar {
	width: 80%;
	background: #061E40;
	border-radius: 4px;
	padding: 15px;
	font-size: 20px;
}
/*---------- PIE DE PAGINA ----------*/
footer {
	background: #061E40;
	padding: 20px 40px;
}